################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
SausoonTech.Constants/bin
SausoonTech.Constants/obj
SausoonTech.Enums/bin
SausoonTech.Enums/obj
SausoonTech.Logger/bin
SausoonTech.Logger/obj
SausoonTech.TestConsole/bin
SausoonTech.TestConsole/obj